.button {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.button .label {
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button .element-user-interface {
  height: 16px;
  position: relative;
  width: 16px;
}

.button .text-wrapper {
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button .instance-24-user-interface-10 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.button .div {
  font-family: var(--button-link-normal-font-family);
  font-size: var(--button-link-normal-font-size);
  font-style: var(--button-link-normal-font-style);
  font-weight: var(--button-link-normal-font-weight);
  letter-spacing: var(--button-link-normal-letter-spacing);
  line-height: var(--button-link-normal-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button .element-arrows-directions {
  position: relative;
}

.button.loading {
  gap: 8px;
}

.button.disabled {
  background-color: var(--neutralsilver);
  gap: 8px;
}

.button.small {
  gap: 8px;
  padding: 8px 24px;
}

.button.focus {
  border: 2px solid;
}

.button.medium {
  padding: 14px 32px;
}

.button.normal {
  padding: 16px 32px;
}

.button.left {
  gap: 8px;
}

.button.right {
  gap: 8px;
}

.button.loading.secondary {
  background-color: var(--neutralsilver);
}

.button.default.secondary {
  background-color: var(--neutralwhite);
  border: 1px solid;
  border-color: var(--brandprimary);
}

.button.hover.secondary {
  background-color: var(--neutralsilver);
  border: 1px solid;
  border-color: var(--brandprimary);
}

.button.hover.tertiary {
  background-color: var(--neutralsilver);
}

.button.click.primary {
  background-color: var(--shades-2);
}

.button.hover.primary {
  background-color: var(--brandprimary);
}

.button.default.tertiary {
  background-color: var(--neutralwhite);
}

.button.default.primary {
  background-color: var(--brandprimary);
}

.button.loading.primary {
  background-color: var(--shades-2);
}

.button.tertiary.focus {
  background-color: var(--neutralwhite);
  border-color: var(--neutraldgrey);
}

.button.tertiary.click {
  background-color: var(--tintt-5);
}

.button.primary.focus {
  background-color: var(--brandprimary);
  border-color: var(--neutraldgrey);
}

.button.tertiary.loading {
  background-color: var(--tintt-5);
}

.button.click.secondary {
  background-color: var(--neutralsilver);
}

.button.secondary.focus {
  background-color: var(--neutralsilver);
  border-color: var(--neutrallgrey);
}

.button.focus.medium.no {
  gap: 10px;
}

.button.click.normal.no {
  gap: 10px;
}

.button.focus.normal.no {
  gap: 10px;
}

.button.hover.medium.no {
  gap: 10px;
}

.button.default.medium.no {
  gap: 10px;
}

.button.hover.normal.no {
  gap: 10px;
}

.button.click.medium.no {
  gap: 10px;
}

.button.default.normal.no {
  gap: 10px;
}

.button.loading .label {
  color: var(--brandprimary);
  margin-top: -1px;
}

.button.disabled .label {
  color: var(--neutralgreyblue);
}

.button.small .label {
  font-family: var(--button-link-small-font-family);
  font-size: var(--button-link-small-font-size);
  font-style: var(--button-link-small-font-style);
  font-weight: var(--button-link-small-font-weight);
  letter-spacing: var(--button-link-small-letter-spacing);
  line-height: var(--button-link-small-line-height);
}

.button.focus .label {
  margin-top: -2px;
}

.button.hover .label {
  margin-top: -1px;
}

.button.medium .label {
  font-family: var(--button-link-medium-font-family);
  font-size: var(--button-link-medium-font-size);
  font-style: var(--button-link-medium-font-style);
  font-weight: var(--button-link-medium-font-weight);
  letter-spacing: var(--button-link-medium-letter-spacing);
  line-height: var(--button-link-medium-line-height);
}

.button.default .label {
  margin-top: -1px;
}

.button.normal .label {
  font-family: var(--button-link-normal-font-family);
  font-size: var(--button-link-normal-font-size);
  font-style: var(--button-link-normal-font-style);
  font-weight: var(--button-link-normal-font-weight);
  letter-spacing: var(--button-link-normal-letter-spacing);
  line-height: var(--button-link-normal-line-height);
}

.button.click.primary .label {
  color: var(--neutralwhite);
}

.button.default.primary .label {
  color: var(--neutralwhite);
}

.button.default.secondary .label {
  color: var(--brandprimary);
}

.button.hover.primary .label {
  color: var(--neutralwhite);
}

.button.tertiary.focus .label {
  color: var(--brandprimary);
}

.button.hover.secondary .label {
  color: var(--brandprimary);
}

.button.tertiary.click .label {
  color: var(--brandprimary);
}

.button.click.normal .label {
  margin-top: -3px;
}

.button.primary.focus .label {
  color: var(--neutralwhite);
}

.button.default.tertiary .label {
  color: var(--brandprimary);
}

.button.click.medium .label {
  margin-top: -1px;
}

.button.small.disabled .label {
  margin-top: -1px;
}

.button.secondary.focus .label {
  color: var(--brandprimary);
}

.button.small.click .label {
  margin-top: -1px;
}

.button.disabled.normal .label {
  margin-top: -3px;
}

.button.medium.disabled .label {
  margin-top: -1px;
}

.button.hover.tertiary .label {
  color: var(--brandprimary);
}

.button.click.secondary .label {
  color: var(--brandprimary);
}

.button.disabled .text-wrapper {
  color: var(--neutralgreyblue);
  margin-top: -1px;
}

.button.small .text-wrapper {
  font-family: var(--button-link-small-font-family);
  font-size: var(--button-link-small-font-size);
  font-style: var(--button-link-small-font-style);
  font-weight: var(--button-link-small-font-weight);
  letter-spacing: var(--button-link-small-letter-spacing);
  line-height: var(--button-link-small-line-height);
}

.button.focus .text-wrapper {
  margin-top: -2px;
}

.button.hover .text-wrapper {
  margin-top: -1px;
}

.button.medium .text-wrapper {
  font-family: var(--button-link-medium-font-family);
  font-size: var(--button-link-medium-font-size);
  font-style: var(--button-link-medium-font-style);
  font-weight: var(--button-link-medium-font-weight);
  letter-spacing: var(--button-link-medium-letter-spacing);
  line-height: var(--button-link-medium-line-height);
}

.button.default .text-wrapper {
  margin-top: -1px;
}

.button.normal .text-wrapper {
  font-family: var(--button-link-normal-font-family);
  font-size: var(--button-link-normal-font-size);
  font-style: var(--button-link-normal-font-style);
  font-weight: var(--button-link-normal-font-weight);
  letter-spacing: var(--button-link-normal-letter-spacing);
  line-height: var(--button-link-normal-line-height);
}

.button.left.loading .text-wrapper {
  margin-top: -3px;
}

.button.loading.secondary .text-wrapper {
  color: var(--brandprimary);
}

.button.default.secondary .text-wrapper {
  color: var(--brandprimary);
}

.button.hover.secondary .text-wrapper {
  color: var(--brandprimary);
}

.button.left.click .text-wrapper {
  margin-top: -1px;
}

.button.hover.tertiary .text-wrapper {
  color: var(--brandprimary);
}

.button.click.primary .text-wrapper {
  color: var(--neutralwhite);
}

.button.hover.primary .text-wrapper {
  color: var(--neutralwhite);
}

.button.click.normal .text-wrapper {
  margin-top: -1px;
}

.button.right.loading .text-wrapper {
  margin-top: -3px;
}

.button.default.tertiary .text-wrapper {
  color: var(--brandprimary);
}

.button.default.primary .text-wrapper {
  color: var(--neutralwhite);
}

.button.loading.primary .text-wrapper {
  color: var(--neutralwhite);
}

.button.tertiary.focus .text-wrapper {
  color: var(--brandprimary);
}

.button.tertiary.click .text-wrapper {
  color: var(--brandprimary);
}

.button.primary.focus .text-wrapper {
  color: var(--neutralwhite);
}

.button.small.click .text-wrapper {
  margin-top: -1px;
}

.button.tertiary.loading .text-wrapper {
  color: var(--brandprimary);
}

.button.click.no .text-wrapper {
  margin-top: -1px;
}

.button.click.secondary .text-wrapper {
  color: var(--brandprimary);
}

.button.loading.normal .text-wrapper {
  margin-top: -3px;
}

.button.secondary.focus .text-wrapper {
  color: var(--brandprimary);
}

.button.small.loading .text-wrapper {
  margin-top: -3px;
}

.button.loading.medium.no .text-wrapper {
  margin-top: -1px;
}

.button.right.click.medium .text-wrapper {
  margin-top: -3px;
}

.button.click .div {
  margin-top: -1px;
}

.button.loading .div {
  color: var(--brandprimary);
  margin-top: -1px;
}

.button.disabled .div {
  color: var(--neutralgreyblue);
  margin-top: -1px;
}

.button.hover .div {
  margin-top: -1px;
}

.button.focus .div {
  margin-top: -2px;
}

.button.default .div {
  margin-top: -1px;
}

.button.default.secondary .div {
  color: var(--brandprimary);
}

.button.hover.primary .div {
  color: var(--neutralwhite);
}

.button.click.primary .div {
  color: var(--neutralwhite);
}

.button.tertiary.focus .div {
  color: var(--brandprimary);
}

.button.hover.secondary .div {
  color: var(--brandprimary);
}

.button.primary.focus .div {
  color: var(--neutralwhite);
}

.button.tertiary.click .div {
  color: var(--brandprimary);
}

.button.default.tertiary .div {
  color: var(--brandprimary);
}

.button.default.primary .div {
  color: var(--neutralwhite);
}

.button.hover.tertiary .div {
  color: var(--brandprimary);
}

.button.secondary.focus .div {
  color: var(--brandprimary);
}

.button.click.secondary .div {
  color: var(--brandprimary);
}

.button.normal .element-arrows-directions {
  height: 24px;
  width: 24px;
}

.button.medium .element-arrows-directions {
  height: 16px;
  width: 16px;
}

.button.small .element-arrows-directions {
  height: 16px;
  width: 16px;
}
